In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv('music.csv')

In [3]:
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [4]:
X=df.drop(columns=['genre']) # input dataset (1->Male, 0->Female)
y=df['genre'] # output dataset

In [5]:
model=DecisionTreeClassifier()
model.fit(X.values,y)
predictions=model.predict([[21,1],[22,0]])
predictions

array(['HipHop', 'Dance'], dtype=object)